@font-face {
    font-family:"Steelfish";
    src:url("assets/SteelfishRg-Regular/steelfish_rg.eot?") format("eot"),
    url("assets/SteelfishRg-Regular/steelfish_rg.woff") format("woff"),
    url("assets/SteelfishRg-Regular/steelfish_rg.ttf") format("truetype"),
    url("assets/SteelfishRg-Regular/steelfish_rg.svg#SteelfishRg-Regular") format("svg");
    font-weight:normal;font-style:normal;
}

*{
    margin: 0;
    padding: 0;
    font-family: Steelfish;
}

.compteur-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #4b5a5d;
}

h1{
    font-size: 150px;
    font-weight: 500;
    text-transform: uppercase;
    color: #485054;
    text-align: center;
}

.decompte-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.decompte-container .decompte {
    width: 225px;
    height: 225px;
    background-color: #485054;
    margin: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.decompte-container .decompte .chiffre {
    font-size: 90px;
    color: #dd2c5c;
}

.decompte-container .decompte .temps {
    text-transform: uppercase;
    font-size: 40px;
    color: #668086;
}

@media screen and (max-width: 665px){
    h1 {
        font-size: 100px;
    }
}

@media screen and (max-width: 500px){
    h1 {
        font-size: 50px;
    }

    .decompte-container .decompte {
        width: 175px;
        height: 175px;
        margin: 25px 50px;
    }
    .decompte-container .decompte .chiffre {
        font-size: 70px;
    }
    
    .decompte-container .decompte .temps {
        font-size: 30px;
    }
}

@media screen and (max-width: 415px){
    h1 {
        font-size: 50px;
    }

    .decompte-container .decompte {
        width: 125px;
        height: 125px;
        margin: 20px 50px;
    }
    .decompte-container .decompte .chiffre {
        font-size: 40px;
    }
    
    .decompte-container .decompte .temps {
        font-size: 20px;
    }
}






